/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* inheritence */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;

  /* add a padding around the body */
  padding: 30px;
}

.header {
  height: 95vh;
  /* set background image for the header */
  /* add a linear gradient on top of the image */
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(../img/hero.jpg);
  /* cover the viewport with the image, not cropping the image but making it fit based on the viewport */
  background-size: cover;
  background-position: top;

  /* create a polygon shape for the header container */
  /* for first coordinate:starting from the top left corner: start to the point x0 y0 */
  /* for second coordinate:for the top right corner, span accrooss the container by 100% then y is 0 */
  /* for third coordinate:for bottom right corner, span across the container width then add a 200px height to the bottom */
  /* for fourth coordinate:for the left corner, dont span x, then span to the bottom 100% */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  position: relative;
}

/* position the logo on the top left using absolute positioning */
.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

/* set the size of the logo */
.logo {
  height: 35px;
}

/* center the text box using absolute positioning*/
.text-box {
  position: absolute;
  /* position it in the relation of the parent element*/
  /* positioning is based on the top left corner of the element x and y then based it to the parent container */
  top: 40%;
  left: 50%;

  /* center the exact element */
  /* relation to the element itself positioning */
  transform: translate(-50%, -50%);

  /* set all text element to center */
  /* including the a tag */
  text-align: center;
}

/* style the text */
.heading-primary {
  color: #fff;
  text-transform: uppercase;

  /* back part gets hidden */
  /* removes the weird shakiness when animating from your child containers */
  /* This just fixes it */
  backface-visibility: hidden;
  margin-bottom: 60px;
}

/* set the main and sub as block elements */
.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  /* set the animation for this text */
  animation-name: moveInLeft;
  /* duration of animation */
  animation-duration: 1s;

  /* start faster then go slower ease out */
  animation-timing-function: ease-out;

  /* the animation will happen three times */
  /* animation-iteration-count: 3; */

  /* delay animation before it starts */
  /* animation-delay: 3s; */
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;

  /* Set the animation */
  /* use shorthand property */
  animation: moveInRight 1s ease-out;
}

/* move text from left to right */
@keyframes moveInLeft {
  0% {
    /* start the text with 0 opacity */
    opacity: 0;
    /* set the text from the left */
    transform: translateX(-100px);
    /* transform: rotate(360deg); */
  }

  /* 60% {
    transform: rotate(0deg);
  } */

  80% {
    transform: translateX(10px);
  }

  100% {
    /* then set it to 100% opacitity to be visible */
    opacity: 1;
    /* move it from left to right(or go back where the design is actually positioned */
    /* look exactly the way it is designed and positinoed */
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* link is a pseudo class. are special state of a selector */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  /* transition propery should be in th initial state of the button */
  transition: all 200ms;
}

.btn:hover {
  /* when hovering, button floats a bit up */
  transform: translateY(-3px);
  /* add shadow based on the distance between the ground up */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* when you click the button state */
.btn:active {
  /* when you are clicking the button, the button is pushed down like how normal buttons usually do by -1px down */
  transform: translate(-1px);
  /* add shadow based on the distance between the ground up */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* style of the button */
.btn-white {
  background-color: #fff;
  color: #777;
}

/* two types of animation:
animation property - complex
  - use this if you want to be precise about your animation for different components
transition property - simple
  - use this for button state animation or simple move of components
*/
