@use "../base/global" as *;

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color: $color-black, $alpha: 0.1);
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;

  transform: skewX(-12deg);

  &__shape {
    width: 15rem;
    height: 15rem;
    // position shape at the left side of the container
    float: left;
    //add physical external shape
    // radius of circle
    // the text beside of it will wrap around the circle
    // defines where the content floats around the element
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);

    // look of the shape: circle
    clip-path: circle(50% at 50% 50%);

    //move circle to the left
    transform: translateX(-3rem) skewX(12deg);
  }

  &__img {
    height: 100%;
  }

  &__text {
    transform: skewX(12deg);
  }
}
